@font-face {
  font-family: 'FilsonProBook';
  src: url(../assets/fonts/filson-pro-book.eot);
  src: url(../assets/fonts/filson-pro-book.eot?#iefix)
      format('embedded-opentype'),
    url(../assets/fonts/filson-pro-book.woff2) format('woff2'),
    url(../assets/fonts/filson-pro-book.woff) format('woff'),
    url(../assets/fonts/filson-pro-book.ttf) format('truetype');
}
