@font-face {
  font-family: 'Amelia Basic';
  font-style: normal;
  font-weight: 300;
  src: local('Amelia Basic Light'), local('amelia-basic-light-webfont'),
    url(../assets/fonts/amelia-basic-light-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Amelia Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Amelia Basic'), local('amelia-basic-regular-webfont'),
    url(../assets/fonts/amelia-basic-regular-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Amelia Basic';
  font-style: normal;
  font-weight: 700;
  src: local('Amelia Basic Bold'), local('amelia-basic-bold-webfont'),
    url(../assets/fonts/amelia-basic-bold-webfont.woff) format('woff');
}
