$text: #434d56; // gray 700
$text-highlight: #69737d; // gray 500
$text-blue: #2d506b; // livid 700
$text-meta: #69737d; // gray 500
$text-light: #ffffff;
$text-dark: #576069; // gray 600
$text-black: #24292d; // gray 900

$primary-blue: #0186ed; // blue 500
$primary-green: #9ede42; // green 500
$dark-blue: #003f6a; // blue 800
$highlight: #e0e4e8; // gray 200

$background: #ffffff;
$background-secondary: #f5fafd; // livid 000
$background-medium: #f6f8fa; // gray 100
$background-dark: #e0e4e8; // gray 200

$layout-width: 1400px;
