$text: #4a4a4a;
$text-highlight: #7d7d7d;
$text-blue: #1c648d;
$text-light: #ffffff;

$primary-blue: #18a0db;
$primary-green: #9cce54;
$dark-blue: #02324d;
$highlight: #d8d8d8;

$layout-width: 1400px;
