$text: #4a4a4a;
$text-highlight: #7d7d7d;
$text-blue: #1c648d;
$text-meta: #83898e;
$text-light: #ffffff;
$text-dark: #575a5d;
$text-black: #000000;

$primary-blue: #409dc5;
$primary-green: #9cce54;
$dark-blue: #02324d;
$highlight: #d8d8d8;

$background: #ffffff;
$background-secondary: #f2f7f9;
$background-medium: #eef3f6;
$background-dark: #dcedf4;

$layout-width: 1400px;
