@import '../styles/theme';

.layout {
  height: 100%;
}

.heroContainer {
  height: 100%;
  max-width: 550px;
}

.title {
  font-size: 3rem;
}

.titleDescription {
  color: $text;
  line-height: 27px;
  font-size: 1.1rem;
}
