@import '../styles/theme';
@import '../styles/utils';

.videoContainer {
  cursor: pointer;
  margin: 0 variableSize(5, 50);

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }

  &--vertical {
    margin: 0 0 2rem;
  }

  > p {
    margin: 0.5rem 0 0;
  }

  > div {
    min-width: 100%;
    transition: box-shadow 0.2s linear;

    &:hover {
      box-shadow: 0px 0px 16px 0px $highlight;
    }
  }
}

.hero {
  padding-top: 2.5rem;
}
