@import '../styles/theme';
@import '../styles/utils';

.storyImage {
  flex: 1;
  margin-left: variableSize(5, 100);
  max-width: 500px;

  &--vertical {
    margin: 0 2rem;
    max-width: initial;
  }
}

$team-margin: 1rem;
.teamContainer {
  margin: 0 #{-$team-margin};
}

.teamMember {
  padding: 0 $team-margin;
  text-align: center;
  width: 25%;

  b {
    display: block;
    margin-top: 0.5rem;
  }

  p {
    margin: 0 0 $team-margin;
  }
}

@media only screen and (max-width: 1200px) {
  .teamMember {
    width: 33.3%;
  }
}

@media only screen and (max-width: 800px) {
  .teamMember {
    width: 50%;
  }
}

@media only screen and (max-width: 475px) {
  .teamMember {
    width: 100%;
  }
}

.teamImage {
  height: variableSize(325, 600);
}

.joinSection > div {
  z-index: 100;
}

.joinContainer {
  background-color: $background-secondary;
  display: block;
  padding: 2rem 4rem;
  margin-bottom: -100px;

  p {
    margin: 0;
  }
}

.missionContainer {
  background-color: $background-medium;
  padding: 3rem;
}

.missionInner {
  margin-right: 0;
  margin-top: 5rem;
  z-index: 1;
}

.missionTitle {
  color: $primary-blue;
  font-size: variableSize(20, 27);
  font-weight: bold;
  margin-bottom: variableSize(4, 12);
  margin-top: variableSize(12, 24);
  text-align: center;
}

.mission {
  color: $primary-blue;
  font-size: variableSize(18, 27);
  font-weight: 300;
  line-height: variableSize(22, 30);
  margin: 0;
  text-align: center;
}

.missionLogo {
  width: 6rem;
}

$logo-size: 14rem;
.missionLogoContainer {
  background-color: $background-medium;
  border-radius: 50%;
  position: absolute;
  right: calc(50% - $logo-size / 2);
  top: -4rem;
  width: $logo-size;
  height: $logo-size;
}
