@import '../styles/theme';
@import '../styles/utils';

.storyImage {
  flex: 1;
  margin-left: variableSize(5, 100);
  max-width: 500px;

  &--vertical {
    margin: 0 2rem;
    max-width: initial;
  }
}

$team-margin: 1rem;
.teamContainer {
  margin: 0 -$team-margin;
}

.teamMember {
  padding: 0 $team-margin;
  text-align: center;
  width: 25%;

  b {
    display: block;
    margin-top: 0.5rem;
  }

  p {
    margin: 0 0 $team-margin;
  }
}

@media only screen and (max-width: 1200px) {
  .teamMember {
    width: 33.3%;
  }
}

@media only screen and (max-width: 800px) {
  .teamMember {
    width: 50%;
  }
}

@media only screen and (max-width: 475px) {
  .teamMember {
    width: 100%;
  }
}

.teamImage {
  height: variableSize(325, 600);
}

.joinSection > div {
  z-index: 100;
}

.joinContainer {
  background-color: $background-secondary;
  display: block;
  padding: 1rem 4rem;
  margin-bottom: -100px;
}

.missionContainer {
  background-color: $background-medium;
  height: 200px;
  padding: 2rem;

  &--mobile {
    height: auto;

    .missionInner {
      margin-right: 0;
      margin-top: 6rem;
    }

    .mission {
      text-align: center;
    }

    .missionLogo {
      top: -6rem;
      bottom: initial;
      right: calc(50% - 3rem);
      width: 6rem;
    }
  }
}

.missionInner {
  height: 100%;
  margin-right: 10rem;
}

.missionTitle {
  color: $primary-blue;
  font-size: variableSize(20, 27);
  font-weight: bold;
  margin-bottom: variableSize(4, 12);
}

.mission {
  color: $primary-blue;
  font-size: variableSize(18, 27);
  font-weight: 300;
  line-height: variableSize(22, 30);
  margin: 0;
}

.missionLogo {
  bottom: 0;
  position: absolute;
  right: 2rem;
  width: 8rem;
}
