@import '../styles/theme';
@import '../styles/utils';

.container {
  margin: 1.5rem 0;

  h1 {
    margin: 0;
  }

  &--vertical {
    h1 {
      margin-bottom: 1rem;
    }
  }
}

.link {
  border-bottom: 2px solid transparent;
  color: $text;
  font-size: variableSize(14, 17);
  margin-left: variableSize(5, 25);
  padding: 0.2rem 0.3rem 0;
  transition: color 0.2s linear;

  &:hover {
    color: $primary-blue;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &--active {
    color: $primary-blue;
    border-bottom: 2px solid $primary-blue;
  }
}

.select {
  width: 205px;
}
