@import '../styles/theme';

.input {
  margin-right: 0.5rem;
  min-width: 150px;
  text-align: left;
  width: 30%;
}

.errorItem {
  color: red;
  margin-top: 0.5rem;
}

.successItem {
  color: $primary-green;
  margin-top: 0.5rem;
}
