@import '../styles/theme';

.infoContainer {
  background-color: $background-secondary;
  padding: 2rem;
  margin: 0 0 2rem 2rem;
  width: 450px;

  &--vertical {
    width: 100%;
    margin: 0;
  }
}

.infoLink {
  display: block;
  padding-bottom: 0.6rem;

  &:hover * {
    color: $text-dark;
    fill: $text-dark;
  }
}

.featureIcon {
  color: $primary-blue;
  fill: $primary-blue;
  height: 30px;
  margin-right: 0.5rem;
  width: 30px;
  transition: all 0.2s linear;
}

.featureName {
  color: $text;
  transition: all 0.2s linear;
}
