@import '../styles/theme';

.container {
  background-color: $background-secondary;
}

.link {
  flex: 1;
  margin-top: 0.5rem;
  padding: 0.8rem;
  position: relative;

  &--active {
    background-color: $background;

    &:after {
      background: transparent;
      background: linear-gradient(
        98deg,
        $highlight 0%,
        transparent 56%,
        transparent 100%
      );
      bottom: 0;
      content: '';
      left: 100%;
      position: absolute;
      top: 0;
      width: 18px;
    }
  }
}

$icon-size: 40px;
.icon {
  fill: $primary-blue;
  height: $icon-size;
  width: $icon-size;
}

.name {
  color: $text-meta;
  font-size: 0.8rem;
  text-align: center;
}
