@import '../styles/theme';

.container {
  background-color: $background-secondary;
  margin-bottom: 1rem;
}

.navContainer {
  background-color: $background-dark;
}

.iconContainer {
  background-color: $background-dark;
  border-top: 3px solid $background-dark;
  cursor: pointer;
  height: 100px;
  position: relative;
  width: #{((1346 - (18 * 2)) / 9)}px;
  transition: all 0.2s linear;

  &--selected {
    background-color: $background-secondary;
    border-top-color: $primary-blue;

    .iconTitle {
      color: $primary-blue;
    }

    &:after {
      background: transparent;
      background: linear-gradient(
        98deg,
        $highlight 0%,
        transparent 56%,
        transparent 100%
      );
      bottom: 0;
      content: '';
      left: 100%;
      position: absolute;
      top: 0;
      width: 18px;
      z-index: 1;
    }
  }
}

$icon-size: 50px;
.icon {
  color: $primary-blue;
  fill: $primary-blue;
  height: $icon-size;
  width: $icon-size;
}

.iconTitle {
  font-size: 0.8rem;
  margin: 0;
}

.contentContainer {
  padding: 2rem;

  h4 {
    font-weight: normal;
    margin-bottom: 0.2rem;
  }
}

.bulletContainer {
  margin-bottom: 0.3rem;

  &:last-of-type {
    margin-bottom: 1rem;
  }
}

.check {
  color: $primary-green;
  margin-right: 0.6rem;
}

.bullet {
  font-size: 0.9rem;
  margin: 0;
}

.relativeContainer {
  width: 100%;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0rem 2rem 0 3rem;
}

.mobileImage {
  margin-top: 2rem;
}
