@import '../styles/theme';

.container {
  background-color: $background-secondary;
  margin-bottom: 1rem;
}

.navContainer {
  background-color: $background-dark;
}

.iconContainer {
  background-color: $background-dark;
  border-top: 3px solid $background-dark;
  cursor: pointer;
  height: 100px;
  position: relative;
  width: #{((1346 - (18 * 2)) / 9)}px;
  transition: all 0.2s linear;

  &--selected {
    background-color: $background-secondary;
    border-top-color: $primary-blue;

    .iconTitle {
      color: $primary-blue;
    }

    .icon {
      color: $primary-blue;
      fill: $primary-blue;
    }

    &:after {
      background: transparent;
      background: linear-gradient(
        95deg,
        $highlight 0%,
        transparent 35%,
        transparent 100%
      );
      bottom: 0;
      content: '';
      left: 100%;
      position: absolute;
      top: -3px;
      width: 18px;
      z-index: 1;
    }
  }
}

$icon-size: 50px;
.icon {
  color: $text-meta;
  fill: $text-meta;
  height: $icon-size;
  width: $icon-size;
}

.iconTitle {
  font-size: 0.8rem;
  margin: 0;
}

.contentContainer {
  padding: 2rem;

  h4 {
    font-weight: normal;
    margin-bottom: 0.2rem;
  }
}

.bulletContainer {
  margin-bottom: 0.3rem;

  &:last-of-type {
    margin-bottom: 1rem;
  }
}

.check {
  color: $primary-green;
  margin-right: 0.6rem;
}

.bullet {
  font-size: 0.9rem;
  margin: 0;
}

.relativeContainer {
  width: 100%;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0rem 2rem 0 3rem;
}

.dropdownContainer {
  color: $text;
  cursor: pointer;
  font-size: 0.8rem;
  position: relative;
  text-decoration: none;
  transition: color 0.2s linear;

  &--open {
    .dropdown,
    .dropdownLink {
      opacity: 1;
    }
  }

  &:hover {
    color: $text-highlight;

    img,
    .dropdown,
    .dropdownLink {
      pointer-events: all;
      height: auto;
    }
  }
}

.dropdown {
  background-color: $background;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px $highlight;
  pointer-events: none;
  left: -37px;
  margin-top: 3rem;
  opacity: 0;
  padding: 0.4rem 0.8rem;
  position: absolute;
  top: 0;
  transition: all 0.2s linear;
  width: 220px;
  z-index: 100;

  &:before {
    position: absolute;
    top: -6px;
    left: 104px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
  }
}

$icon-size: 40px;
.dropdownLink {
  color: $text;
  font-size: 0.9rem;
  opacity: 0;
  padding: 0.5rem 0;
  text-decoration: none;
  transition: color 0.2s linear;

  svg {
    fill: $primary-blue;
    height: $icon-size;
    margin: 0 0.8rem 0 0;
    width: $icon-size;
  }

  &:hover {
    color: $text-highlight;
  }
}

.tabletText {
  text-align: center;
}

.tabletImage {
  margin: 2rem auto 0;
  max-width: 500px;
  width: 100%;
}

.mobileContainer {
  margin-bottom: 3rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  * {
    text-align: center;
  }
}

.mobileImageContainer {
  margin-top: 1rem;
  width: 100%;
}
