@import '../styles/theme';

$vertical-padding: 0.8rem;
$horizontal-padding: 1rem;

.footer {
  background-color: $dark-blue;
  padding: 1rem 0;
}

.link {
  color: $text-light;
  margin-right: $horizontal-padding;
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover {
    color: $highlight;
  }
}

$social-size: 34px;
.socialLink {
  align-items: center;
  color: $dark-blue;
  display: flex;
  margin: 0 $vertical-padding $horizontal-padding 0;
  justify-content: center;

  &:hover svg {
    fill: $highlight;
  }

  svg {
    fill: $background;
    margin: 0;
    width: 2rem;
    transition: fill 0.2s linear;
  }
}

.appLinkContainer {
  display: flex;
}

.appLinkImg {
  margin-left: $horizontal-padding;

  &--mobile {
    margin: $vertical-padding $horizontal-padding 0 0;
  }
}
