@import '../styles/theme';

$vertical-padding: 0.8rem;
$horizontal-padding: 1rem;

.footer {
  background-color: $dark-blue;
  padding: 1rem 0;
}

.link {
  color: $text-light;
  margin-right: $horizontal-padding;
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover {
    color: $highlight;
  }
}

$social-size: 35px;
.socialLink {
  align-items: center;
  background-color: $text-light;
  border-radius: $social-size / 2;
  color: $dark-blue;
  display: flex;
  height: $social-size;
  margin: 0 $vertical-padding $horizontal-padding 0;
  justify-content: center;
  transition: background-color 0.2s linear;
  width: $social-size;

  &:hover {
    background-color: $highlight;
  }
}

.appLinkContainer {
  display: flex;
}

.appLinkImg {
  margin-left: $horizontal-padding;

  &--mobile {
    margin: $vertical-padding $horizontal-padding 0 0;
  }
}
