@import '../styles/theme';

$vertical-padding: 0.6rem;
$inner-height: 56px;

.relativeContainer {
  position: relative;
}

.childContainer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: calc(#{$inner-height} + #{$vertical-padding * 2});
}

.innerContainer {
  height: $inner-height;
}

.header {
  box-shadow: 0px 0px 10px 0px $highlight;
  padding: $vertical-padding 0;

  &--img {
    background-color: rgba(#ffffff, 0.37);
    box-shadow: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.heroImage {
  height: 700px;
}

.logo {
  display: block;
  height: auto;
  width: 100%;
}

.link {
  color: $text;
  font-size: 0.8rem;
  margin-left: 1.8rem;
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover {
    color: $text-highlight;
  }
}

.minorLink {
  color: $text;
  font-size: 0.7rem;
  margin-left: 1.5rem;
  margin-bottom: 0.4rem;
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover {
    color: $text-highlight;
  }
}

.phone {
  color: $text;
  font-size: 0.8rem;
  margin-right: 1.8rem;
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover {
    color: $text-highlight;
  }
}

.linkContainer {
  width: 180px;
}
