@import '../styles/theme';

$vertical-padding: 0.6rem;
$inner-height: 64px;
$border-height: 1px;
$nav-height: calc(
  #{$inner-height} + #{$border-height} + #{$vertical-padding * 2}
);

.relativeContainer {
  height: $nav-height;
  position: relative;

  &--transparent {
    height: 0;
  }
}

.childContainer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: $nav-height;
}

.innerContainer {
  height: $inner-height;
}

.header {
  border-bottom: $border-height solid $background;
  box-shadow: 0px 0px 10px 0px $highlight;
  left: 0;
  padding: $vertical-padding 0;
  position: fixed;
  right: 0;
  transition: box-shadow 0.2s linear;
  z-index: 100;

  &--transparent {
    border-bottom-color: transparent;
    box-shadow: none;
  }

  &--openNav {
    background-color: $background;
  }

  &--withShadow {
    box-shadow: 0px 0px 10px 0px $highlight;
  }
}

.logo {
  display: block;
  height: auto;
  width: 100%;
}

.link {
  color: $text;
  font-size: 0.8rem;
  margin-left: 1.8rem;
  padding: 1rem 0;
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover {
    color: $text-highlight;
  }
}

.minorLink {
  color: $text;
  font-size: 0.7rem;
  margin-left: 1.5rem;
  margin-bottom: 0.4rem;
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover {
    color: $text-highlight;
  }
}

.phone {
  color: $text;
  font-size: 0.8rem;
  margin-right: 1.8rem;
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover {
    color: $text-highlight;
  }
}

.linkContainer {
  display: flex;
  width: 180px;
}

.logoLink {
  display: flex;

  img {
    margin: 0;
  }
}

.dropdownContainer {
  color: $text;
  cursor: pointer;
  font-size: 0.8rem;
  margin-left: 1.8rem;
  padding: 1rem 0;
  position: relative;
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover {
    color: $text-highlight;

    img,
    .dropdown,
    .dropdownLink {
      opacity: 1;
      pointer-events: all;
      height: auto;
    }
  }
}

.dropdown {
  background-color: $background;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px $highlight;
  pointer-events: none;
  left: -20px;
  margin-top: 3rem;
  opacity: 0;
  padding: 0.4rem 0.8rem;
  position: absolute;
  top: 0;
  transition: all 0.2s linear;
  width: 220px;
  z-index: 100;

  &:before {
    position: absolute;
    top: -6px;
    left: 2.8rem;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
  }
}

.dropdownLink {
  color: $text;
  display: block;
  font-size: 0.8rem;
  opacity: 0;
  padding: 0.5rem 0;
  text-decoration: none;
  transition: color 0.2s linear;

  img {
    margin: 0 0.8rem 0 0;
    opacity: 0;
    width: 30px;
  }

  &:hover {
    color: $text-highlight;
  }
}

.menuContainer {
  border-left: 2px solid $highlight;
  margin-left: 0.8rem;
  padding-left: 0.4rem;

  &--mini {
    border-left-width: 0;
  }
}

.menu {
  color: $primary-blue;
  cursor: pointer;
}
