@import '../styles/theme';

.mobilePanel {
  background-color: $text-light;
  height: 100vh;
  position: absolute;
  top: -100vh;
  transition: all 0.2s linear;
  width: 100vw;
  z-index: 99;

  &--open {
    top: 0;
  }
}
