@import '../styles/theme';
@import '../styles/utils';

.communityColumn {
  margin: 0 2rem;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &--vertical {
    margin: 0;
    width: 100% !important;
  }
}

.logoContainer {
  height: 130px;
  margin-bottom: 0.4rem;
}

.communityLogo {
  margin: 0 auto;
  max-height: 130px;
  max-width: 350px;
  width: 100%;
}

.communityImg {
  max-height: 130px;
}

.quoteAuthor {
  color: $text-dark;
}

.authorPosition {
  font-size: 0.9rem;
}

.half {
  width: 50%;
}

.third {
  width: 33.3%;
}
