@import '../styles/theme';
@import '../styles/utils';

$leftColumnWidth: 250px;
$leftPadding: variableSize(18, 80);
.leftColumn {
  padding-right: $leftPadding;
  width: calc(#{$leftColumnWidth} + #{$leftPadding});
}

.rightColumn {
  flex: 1;
}

.dropdownContainer {
  margin: 0 auto;
}

.topicsHeader {
  font-size: 1.2rem;
  font-weight: bold;
}

$topic-padding: 0.4rem;
.topic {
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 0.1rem;
  padding: $topic-padding #{2 * $topic-padding};
  transition: background-color 0.2s linear;
  width: 100%;

  &:hover {
    background-color: $background-dark;

    .topicIcon {
      fill: $dark-blue;
    }

    .topicName {
      color: $text-black;
    }
  }

  &--active,
  &--active:hover {
    background-color: $primary-blue;

    .topicIcon {
      fill: $background;
    }

    .topicName {
      color: $background;
    }
  }
}

$icon-size: 26px;
.topicIcon {
  fill: $primary-blue;
  height: $icon-size;
  margin-right: 0.8rem;
  transition: fill 0.2s linear;
  width: $icon-size;
}

.topicName {
  color: $text-blue;
  transition: color 0.2s linear;
}

.questionContainer {
  margin-bottom: 3rem;

  > * {
    margin: 0;
  }
}
