@import '../styles/theme';
@import '../styles/utils';

$vertical-padding: 0.6rem;
$border-height: 1px;

.innerContainer {
  margin: 0.5rem 0;
}

.header {
  padding: $vertical-padding 0;
  position: relative;
}

.logo {
  display: block;
  height: auto;
  width: 100%;
}

.title {
  margin: 0 0 0 1.2rem;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-size: variableSize(25, 35);
  font-weight: 100;
}

.link {
  color: $text;
  font-size: 0.8rem;
  margin-left: 1.8rem;
  padding: 1rem 0;
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover {
    color: $text-highlight;
  }
}

.minorLink {
  color: $text;
  font-size: 0.7rem;
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover {
    color: $text-highlight;
  }
}

.minorIcon {
  margin-left: 0.5rem;
}

.flexLink {
  align-items: center;
  color: $text;
  display: flex;
}

.phone {
  color: $text;
  font-size: 0.8rem;
  margin-right: 1.8rem;
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover {
    color: $text-highlight;
  }
}

.linkContainer {
  display: flex;
}

.logoLink {
  display: flex;

  img {
    margin: 0;
  }
}
