@import '../../styles/theme';
@import '../../styles/utils';

.emphasized {
  color: $text-blue;
  font-size: 1.1rem;
}

.videoContainer {
  margin: 0 variableSize(5, 50);

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &--vertical {
    margin: 0;
  }
}

.videoImage {
  cursor: pointer;
  min-width: 100%;
  transition: box-shadow 0.2s linear;

  &:hover {
    box-shadow: 0px 0px 16px 0px $text-meta;
  }
}

.videoHeader {
  margin-top: 2rem;
}

.staffMinimized {
  .staffBenefits {
    height: 400px;
    margin: 0 auto;
    max-width: 800px;
  }

  .staffContent {
    display: none;
  }
}

.staffBenefits {
  cursor: pointer;
  height: 596px;
  transition: box-shadow 0.2s linear;
  width: 100%;

  &:hover {
    box-shadow: 0px 0px 16px 0px $text-meta;
  }
}

.staffContainer {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.staffPlayIcon {
  fill: rgba(#fff, 0.7);
}

.staffContent {
  background-color: $background;
  margin: 3rem;
  padding: 2rem;
  pointer-events: all;
  width: 600px;
}

.communityFreeflow {
  max-width: 800px;
  margin: 2rem auto 0;
}
