@import '../styles/theme';

.button {
  background-color: $primary-green;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  height: 38px;
  letter-spacing: 0.1rem;
  outline: none;
  line-height: 38px;
  padding: 0 1.2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.2s;
  font-weight: bold;

  &:disabled,
  &:disabled:hover {
    background-color: $text-highlight;
    box-shadow: none;
    cursor: default;
  }

  &:hover {
    box-shadow: 2px 2px 10px 0px $highlight;
    outline: 0;
  }
}

.inner {
  pointer-events: none;
}

.loading {
  visibility: hidden;
}

.spinner {
  left: calc(50% - 10px);
  position: absolute !important;
  top: calc(50% - 10px);
}
