@import '../styles/theme';
@import '../styles/utils';

.layout {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.heroBackgroundDark {
  background-color: $dark-blue;
}

.heroContainer {
  height: 100%;
  max-width: variableSize(350, 480);

  &--right {
    margin-left: auto;
  }

  &--fullWidth {
    max-width: 100%;
  }
}

.titleText {
  font-size: variableSize(30, 42);

  &--dark {
    color: $text-light;
  }
}

.titleDescription {
  color: $text;
  line-height: 27px;
  font-size: 1.1rem;

  &--dark {
    color: $highlight;
  }
}
